* {
  box-sizing:border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
   /* background:-webkit-linear-gradient(left,#00cccc94,#0000ffa2); */
     /*background:-webkit-linear-gradient( left,rgba(137, 43, 226, 0.521),#00ffff75);*/
     height: 220vh;
     width: 100%;

}
h2{
  font-weight: bold;
  font-weight: 15px;
}

.container {
  padding: 64px;
}

.row:after {
  content: "";
  display: table;
  clear: both
}

.column-66 {
  float: left;
  width: 66.66666%;
  padding: 20px;
}

.column-33 {
  float: left;
  width: 33.33333%;
  padding: 20px;
}

.large-font {
  font-size: 48px;
}

.xlarge-font {
  font-size: 64px
}

.button {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  background-color:#ff6666;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

@media screen and (max-width: 1000px) {
  .column-66,
  .column-33 {
    width: 100%;
    text-align: center;
  }
  img {
    margin: auto;
  }
}


.w3-bar .w3-bar-item: hover{
    white-space: normal;
    color: red;
}
.container {
    padding: 80px 120px;
  }