<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<title>W3.CSS Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Page Start -->
<div id="home" class="w3-content" style="max-width:1564px">

<!-- Projects -->
<div id="projects" class="w3-container w3-padding-32">
<h2 class="w3-border-bottom w3-border-light-grey w3-padding-16">Projects</h2>
</div>

<div class="w3-row-padding">

<div class="w3-col l3 m6 w3-margin-bottom">
<div class="w3-display-container">
  <div class="w3-display-topleft w3-black w3-padding">Summer</div>
  <img src="house5.jpg" alt="House" style="width:100%">
</div>
</div>

<div class="w3-col l3 m6 w3-margin-bottom">
<div class="w3-display-container">
  <div class="w3-display-topleft w3-black w3-padding">Brick House</div>
  <img src="house2.jpg" alt="House" style="width:100%">
</div>
</div>

<div class="w3-col l3 m6 w3-margin-bottom">
<div class="w3-display-container">
  <div class="w3-display-topleft w3-black w3-padding">Renovated</div>
  <img src="house3.jpg" alt="House" style="width:100%">
</div>
</div>

<div class="w3-col l3 m6 w3-margin-bottom">
<div class="w3-display-container">
  <div class="w3-display-topleft w3-black w3-padding">Barn House</div>
  <img src="/w3images/house4.jpg" alt="House" style="width:100%">
</div>
</div>

<div class="w3-col l3 m6 w3-margin-bottom">
<div class="w3-display-container">
  <div class="w3-display-topleft w3-black w3-padding">Summer</div>
  <img src="house2.jpg" alt="House" style="width:99%">
</div>
</div>

<div class="w3-col l3 m6 w3-margin-bottom">
<div class="w3-display-container">
  <div class="w3-display-topleft w3-black w3-padding">Brick House</div>
  <img src="house5.jpg" alt="House" style="width:99%">
</div>
</div>

<div class="w3-col l3 m6 w3-margin-bottom">
<div class="w3-display-container">
  <div class="w3-display-topleft w3-black w3-padding">Renovated</div>
  <img src="house4.jpg" alt="House" style="width:99%">
</div>
</div>

<div class="w3-col l3 m6 w3-margin-bottom">
<div class="w3-display-container">
  <div class="w3-display-topleft w3-black w3-padding">Barn House</div>
  <img src="house3.jpg" alt="House" style="width:99%">
</div>
</div>

</div>

<!-- End page content -->
</div>

</body>
</html>
